<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
    </head>
    <body>
        @RenderSection( "SubPages", false )
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @*<script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
        </script>*@
        @Scripts.Render("~/bundles/jquerymobile")
        <script src="~/scripts/jquery.mobile.subpage-1.3.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
